*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: gray;
    flex-wrap: wrap; /*boxes goes to the next line*/
}

.box{
    height: 75px;
    min-width: 300px;
    flex-grow: 1; /*this makes the boxes fit to the windows after wrappin */
}

.one{
    background-color: red;
}

.two{
    background-color: green;
}

.three{
    background-color: blueviolet;
}